# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# uploady
/uploads

google-services.json

mtaa-project-42c11-b5e7adefbdaa.json

firebase-service-account.json

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

app-example

*.json
